
BreakoutWithClasses/.vs/
/BreakoutWithClasses/BreakoutWithClasses/Debug
/BreakoutWithClasses/BreakoutWithClasses/x64
BreakoutWithClasses/x64/Debug/Game.exe
BreakoutWithClasses/x64/Debug/Game.ilk
BreakoutWithClasses/x64/Debug/Game.pdb
